body{
    .top-content{
        .header{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            background-color:white;
            color: @palletfg;
            background-size: cover;
            h1{                
                padding-top: 3%;
            }
            nav{
                .format-nav;
                a{
                    color: @palletfg;
                }
            }
        }
    }
    .container{
        .profiles{
            display: flex;
            flex-direction: column;
            padding: 0 3%;
            .PM{
                padding-top: 3%;                
                border-bottom: 4px solid white;
                padding-bottom: 3%;
                
                .profile{
                    .format-img;                    
                    p{ 
                    width: 50%;
                    height: 25%;
                    }
                    #pm{
                        float: right;
                        border: 8px solid white;
                    }
                    h3{
                        padding-bottom: 2%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: underline;
                    }
                    .icons{
                        float: left;
                        display: block;
                        margin-top: 2%;
                        
                        .icon{
                            width: 12%;
                        }
                    }               
                }
            }
            .UI{
                padding-top: 3%;
                padding-bottom: 3%;
                border-bottom: 4px solid white;
                .profile{
                    .format-img;
                    p{ 
                    width: 50%;
                    height: 25%;
                    float: right;
                    }
                    #ui{
                        float: left;
                        border: 8px solid white;      
                    }
                    h3{
                        padding-bottom: 3%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: underline;
                    }
                    .icons{
                        float: right;
                        display: block;
                        margin-top: 2%;
                        
                        .icon{
                            width: 12%;
                        }
                    } 
                }
            }
            .FE{
                padding-top: 3%;
                padding-bottom: 3%;
                border-bottom: 4px solid white;
                .profile{
                    .format-img;
                    p{ 
                    width: 50%;
                    height: 25%;
                    }
                    #fe{
                        float: right;
                        border: 8px solid white;
                    } 
                    h3{
                        padding-bottom: 3%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: underline;
                    } 
                    .icons{
                        float: left;
                        display: block;
                        margin-top: 2%;
                        .icon{
                            width: 12%;
                        }
                    }                                 
                }
            }
            .BE{
                padding-top: 3%;
                padding-bottom: 3%;
                //border-bottom: 4px solid white;
                .profile{
                    .format-img;
                    p{ 
                    width: 50%;
                    height: 25%;
                    float: right;
                    display: flex;
                    align-self: center;
                    justify-content: center;
                    }
                    #be{
                        float: left;
                        border: 8px solid white;
                    }   
                    h3{
                        padding-bottom: 3%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: underline;
                    }
                    .icons{
                        float: right;
                        display: block;
                        margin-top: 2%;
                        .icon{
                            width: 12%;
                        }
                    }                                 
                }
            }            
        }
    }
}


@media @desktop{
    body{
        max-width: 100%;
        .top-content{
            .header{
                nav{
                    width: 40%;
                    a{
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}