body{
    .top-content{
        .header{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            background-color:white;
            color: @palletfg;
            background-size: cover;
            h1{                
                padding-top: 3%;
            }
            nav{
                .format-nav;
                a{
                    color: @palletfg;
                }
            }
        }
    }
    .container{
        .profiles{
            display: flex;
            flex-direction: column;
            padding: 0 3%;
            .PM{
                padding-top: 3%;              
                border-bottom: 4px solid white;
                padding-bottom: 3%;
                .profile{
                    .format-img;
                    }
                    #pm{
                        float: right;
                        border: 8px solid white;
                        height: 30%;
                        width: 20%;
                    } 
                    h3{
                        padding-bottom: 3%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: underline;
                    } 
                    .bio-content{
                        .bio{
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            float: left;
                            p{
                                width: 100%;
                                float: left;
                            }
                            .icons{
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                img{
                                    padding: 0 3%;
                                }
                            }
                        }
                    }     
            }
            .UI{
                padding-top: 3%;
                padding-bottom: 3%;
                border-bottom: 4px solid white;
                .profile{
                    .format-img;
                    #ui{
                        float: left;
                        border: 8px solid white;
                    } 
                    h3{
                        padding-bottom: 3%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: underline;
                    } 
                    .bio-content{
                        .bio{
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            float: right;
                            p{
                                width: 100%;
                                float: right;
                            }
                            .icons{
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                img{
                                    padding: 0 3%;
                                }
                            }
                        }
                    }              
                }
            }
            .FE{
                padding-top: 3%;
                padding-bottom: 3%;
                border-bottom: 4px solid white;
                .profile{
                    .format-img;
                    }
                    #fe{
                        float: right;
                        border: 8px solid white;
                    } 
                    h3{
                        padding-bottom: 3%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: underline;
                    } 
                    .bio-content{
                        .bio{
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            float: left;
                            p{
                                width: 100%;
                                float: left;
                            }
                            .icons{
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                img{
                                    padding: 0 3%;
                                }
                            }
                        }
                    }                    
                }
            }
            .BE{
                padding-top: 3%;
                padding-bottom: 3%;
                .profile{
                    .format-img;
                    
                    #be{
                        float: left;
                        border: 8px solid white;
                        }   
                    h3{
                        padding-bottom: 3%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: underline;
                    }
                    .bio-content{
                        .bio{
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            float: right;
                            p{
                                width: 100%;
                                float: right;
                            }
                            .icons{
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                img{
                                    padding: 0 3%;
                                }
                            }
                        }
                    }
                }
            }
        }                           
    }
           

        


@media @desktop{
    body{
        max-width: 100%;
        .top-content{
            .header{
                nav{
                    width: 40%;
                    a{
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}