body{

    .top-content{
        .header{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            background-color: @palletfg;
            h1{                
                padding-top: 3%;
                color: @text;
            }
            nav{
                .format-nav;
            }

        }
    }
    .container{
        .profiles{
            display: flex;
            flex-direction: column;
            .PM{
                padding-top: 3%;                
                border-bottom: 1px solid black;
                padding-bottom: 3%;
                .profile{
                    .format-img;
                    
                    p{ 
                    width: 50%;
                    height: 25%;
                    
                    }
                    img{
                        float: right;
                    }
                    // img:hover{
                       
                    // }   
                    h3{
                        padding-bottom: 2%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: underline;
                    }               
                }
            }
            .UI{
                padding-top: 3%;
                padding-bottom: 3%;
                border-bottom: 1px solid black;
                .profile{
                    .format-img;
                    p{ 
                    width: 50%;
                    height: 25%;
                    float: right;
                    }
                    img{
                        float: left;
                    }
                    // img:hover{
                       
                    // } 
                    h3{
                        padding-bottom: 3%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: underline;
                    }                                
                }
            }
            .FE{
                padding-top: 3%;
                padding-bottom: 3%;
                border-bottom: 1px solid black;
                .profile{
                    .format-img;
                    p{ 
                    width: 50%;
                    height: 25%;
                    }
                    img{
                        float: right;
                    }
                    // img:hover{
                       
                    // } 
                    h3{
                        padding-bottom: 3%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: underline;
                    }                                
                }
            }
            .BE{
                padding-top: 3%;
                padding-bottom: 3%;
                border-bottom: 1px solid black;
                .profile{
                    .format-img;
                    p{ 
                    width: 50%;
                    height: 25%;
                    float: right;
                    display: flex;
                    align-self: center;
                    justify-content: center;
                    }
                    img{
                        float: left;
                    }
                    // img:hover{
                       
                    // }    
                    h3{
                        padding-bottom: 3%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: underline;
                    }                             
                }
            }            
        }
    }
    .footer {
        h4{
            color: black;
        }
        div{
            color: black;
        }
    }    
}


// @media @desktop{
//     body{
//         max-width: 100%;
//     }
// }