.format-nav{
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    //border: 2px solid white;
    align-items: center;
    a{        
        text-decoration: none;
        color: @text;
        opacity: .6;
        font-weight: 800;
    }        
    a:hover{
        text-decoration: underline;
    }
}

.style-button{
    padding: 1%;
    width: 20%;
    background-color: transparent;
    color: @text;
    margin-bottom: 2%;    
}


.format-img{
    img{
    border: 1px solid transparent;
    display: block;
    max-width: 230px;
    max-height: 200px;
    width: 30%;
    height: 25%;
    }
}

.format-profile{
    .profile{
        border: 1px solid black;
        display: flex;
        flex-direction: column; 
        .format-img;       
        p{
            border: 1px solid transparent;
            width: 30%;
            height: 25%;
            position: fixed;
        }
    }
    
}