//Colors
// pallet bg - #f3f6fa //eggshell white
// pallet fg - #7c8081 //grey
// header bg - #fff //white
// banner bg - #898786 //grey
// banner fg - #fff
// footer bg - #E8EEF4 //slightly darker eggshell white
// footer fg - #7c8081
// #83d3c9 //black
// #645862 //darker grey
// nav panel bg - #1c2021 //charcoal grey
// nav panel fg - #fff
// nav button bg - rgba(163,169,170,0.75)
// nav fg - #fff


//Fonts
@theme-font: 'Lato', sans-serif;


//Media Queries
@tablet: ~"(min-width: 800px)";
@desktop: ~"(min-width: 1000px)";

//Other